extends ../layout-sidebar

block vars
   -var selected = 'Home'
   -var ksdir = '..'

block breadcrumbs
   li.active
      a(href="#") Page

block main
   .row
      .col-span-12
         p Hello world.

block sidebar
   .row
      .col-span-12
         p Hello world.
   
