extends blog-layout

block breadcrumbs
   li
      a(href="../../") Home
   li.active Blog

block blog-content
   article
      a(href="blog-single.html")
         h3 Kickstrap 2.0 Released!
      p.lead The world's most advanced front-end kit is even better.
      img.img-thumbnail.pull-left(src="http://api.rethumb.com/v1/width/150/http://upload.wikimedia.org/wikipedia/commons/b/b4/Ludwig_van_Beethoven.jpg")
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
      hr
      small
         p.text-muted
            em By
               a  Adam Kochanowicz
               &nbsp;on 
               a  1, January 2014
            br
            em Tagged
               a  announcements
               ,
               a  kickstrap 
   article
      a(href="#")
         h3 30 Minute Vegan Cookies Recipe
      p.lead This popular recipe is now in Beta. 
      img.img-thumbnail.pull-left(src="http://api.rethumb.com/v1/width/150/http://upload.wikimedia.org/wikipedia/commons/b/b4/Ludwig_van_Beethoven.jpg")
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
      hr
      small
         p.text-muted
            em By
               a  Adam Kochanowicz
               on 
               a  1, January 2014
            br
            em Tagged
               a  announcements
               ,
               a  kickstrap 
