extends ../layout-sidebar

block vars 
   -var selected = 'Blog'
   -var ksdir = '..'
   -var sidebar = true

block main 
   section.row
      .col.col-lg-12 
         block blog-content

block sidebar
   section.row
      .col.col-lg-12
         h4 Most Popular Posts
         ul.list-unstyled
            li 
               a(href="blog-single.html") Kickstrap 2.0 Released
            li 
               a(href="#") 20 Minute Vegan Cookie Recipe
            li
               a(href="#") Time-Saving Tricks to Use Around the House
         .media
            a.pull-left(href="#")
               img.media-object.thumbnail(src="http://api.rethumb.com/v1/width/50/https://graph.facebook.com/63203497/picture")
            div.media-body 
               h4.media-heading About me 
               p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
         ul.list-unstyled.list-inline
            li 
               a
                  i.icon-rss
            li 
               a
                  i.icon-facebook
            li 
               a
                  i.icon-twitter
            li
               a
                  i.icon-github
            li
               a
                  i.icon-linkedin
            li
               a 
                  i.icon-google-plus
         br
         h4 Archives
         ul.list-unstyled
            li
               a(href="#") January 
            li
               a(href="#") February 
            li
               a(href="#") March 
            li
               a(href="#") April 
            li
               a(href="#") May 
            li
               a(href="#") June 
