extends ../layout-no-sidebar

block vars 
   -var selected = 'Shopping Cart'
   -var ksdir = '..'
   -var sidebar = false 

block breadcrumbs
   li
      a(href="../../") Home
   li Shopping Cart

block main 
   .row
      .col-span-8.col-offset-2
         h2(style="display: inline-block")
            i.icon-shopping-cart 
            | Shopping Cart (
            span(data-bind="text: items().length") 
            |)   
         a.btn.btn-primary(style="float: right; margin-top: 30px;")
            i.icon-check
            |&nbsp;Check Out
         table.table
            thead
               tr
                  th(colspan="2") Product
                  th Price
                  th Quantity
            tbody(data-bind="foreach: items")
               tr
                  td(style="width: 150px;")
                     img(data-bind="attr:{ src: 'http://api.rethumb.com/v1/width/150/http://upload.wikimedia.org/wikipedia/commons/' + product().img}")
                  td(data-bind="text: product().title")
                  td(data-bind="text: formattedPrice")
                  td
                     input(type="text", data-bind="value: quantity, valueUpdate: 'afterkeydown'") 0
                  td
                     a(href="#", data-bind="click: $parent.removeItem") Remove
         h3(data-bind="visible: totalSurcharge() > 0") Total surcharge: $
            span(data-bind="text: totalSurcharge().toFixed(2)")
         h3 Total Items: 
            span(data-bind="text: items().length")
         .input-group.col-span-3.col-offset-9
            span.input-group-addon #
            input(type="text", placeholder="Promo Code")
         a.btn.btn-primary.pull-right
            i.icon-check
            |&nbsp;Check Out

block javascript
  script(src="../apps/knockout/knockout.min.js")
  script(src="assets/products.js")
  script(src="assets/cart.js")
