extends ../layout-sidebar

block vars 
  -var selected = 'Contacts'
  -var ksdir = '..'
  -var sidebar = true

block breadcrumbs
   li 
      a(href="../../") Home
   li.active Contacts

block sidebar 
   .row
      .col-span-12
         h4 My Contacts
         input(placeholder="Filter", type="text", data-bind="value: filterTerm, valueUpdate: 'afterkeydown'")
         table.table.table-hover
            tbody(data-bind="foreach: filteredItems")
               tr(data-bind="click: $parent.showModal", style="cursor: pointer")
                  td
                     img(style="width: 60px;height:60px", data-bind="attr:{ src: 'http://api.rethumb.com/v1/square/120/http://upload.wikimedia.org/wikipedia/commons/' + img }")
                  td(data-bind="text: lName + ', ' + fName") 

block main
   .row
      .col-span-8.col-offset-2
         h3(data-bind="text: currentContact.fName() + ' ' + currentContact.lName()")
         .row
            .col-span-3(style="overflow: hidden")
               img.img-thumbnail.pull-left(style="width: 60px; height: 60px", data-bind="attr:{ src: 'http://api.rethumb.com/v1/square/120/http://upload.wikimedia.org/wikipedia/commons/' + currentContact.img() }")
            .col-span-9
               p 
                  a.btn(href="#") 
                     i.icon-user
                     &nbsp;View Complete Profile
               p
                  a.btn.btn-primary(href="#") 
                     i.icon-envelope
                     &nbsp;Message
               .panel
                  .panel-heading Bio
                  p(data-bind="text: currentContact.bio()")
               .panel
                  .panel-heading Contact
                  p Email: 
                  a(data-bind="attr:{href: 'mailto:' + currentContact.email() }, text: currentContact.email()")

block javascript
  script(src="//cdnjs.cloudflare.com/ajax/libs/knockout/2.2.1/knockout-min.js")
  script(src="assets/contacts.js")
  script(src="assets/contact-list.js")
  script(src="../apps/bootstrap/bootstrap.js")
