extends ../layout-sidebar

block vars 
  -var selected = 'Contacts'
  -var ksdir = '..'

block breadcrumbs
   li 
      a(href="../../") Home
   li.active Contacts

block sidebar 
   .row
      .col-span-12
         h4 My Contacts
         input(placeholder="Filter", type="text", data-bind="value: filterTerm, valueUpdate: 'afterkeydown'")
         table.table.table-hover
            tbody(data-bind="foreach: filteredItems")
               tr(data-bind="click: $parent.showModal", href="#currentContact", data-toggle="modal", style="cursor: pointer")
                  td
                     img(data-bind="attr:{ src: 'http://api.rethumb.com/v1/width/60/height/60/http://upload.wikimedia.org/wikipedia/commons/' + img }")
                  td(data-bind="text: lName")
                  td(data-bind="text: fName") 

block main
   .row
      .col-span-8.col-offset-2
         h3(data-bind="text: currentContact.fName() + ' ' + currentContact.lName()")
         img.img-thumbnail.pull-left(data-bind="attr:{ src: 'http://api.rethumb.com/v1/width/150/http://upload.wikimedia.org/wikipedia/commons/' + currentContact.img() }")
         p(data-bind="text: currentContact.bio()")
         p 
            a.btn(href="#") 
               i.icon-user
               &nbsp;Profile
         p
            a.btn.btn-primary(href="#") 
               i.icon-envelope
               &nbsp;Message
         p Email: 
            a(data-bind="attr:{href: 'mailto:' + currentContact.email() }, text: currentContact.email()")

block javascript
  script(src="//cdnjs.cloudflare.com/ajax/libs/knockout/2.2.1/knockout-min.js")
  script(src="/kickstrap/_examples/assets/contacts.js")
  script(src="/kickstrap/_examples/assets/contact-list.js")
  script(src="/kickstrap/apps/bootstrap/bootstrap.js")
