!!!
html

   head
      base(href="/")
      title Kickstrap 2.0.0 Alpha
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="stylesheet/less", type="text/css", href="/kickstrap/_core/kickstrap.less")
      script
         // var less = { env: 'development' }
         // Uncomment the above line to prevent caching.
      script(src="/kickstrap/_core/js/less-1.4.0.min.js")
   body
      div.container      
         section#sidebar
            h1 sidebar
         section#main
            h1 main
