extends ../layout

block content
	div.jumbotron
		h1 Welcome to Kickstrap
		p.lead Create a new file from scratch or start hacking this one.
		a.btn.btn-large.btn-success(href="#") Get Started
	hr
	div.row-fluid
		div.span4
			h2 Heading
			p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
			p
				a.btn(href="#")View Details
		div.span4
			h2 Heading
			p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
			p
				a.btn(href="#")View Details
		div.span4
			h2 Heading
			p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
			p
				a.btn(href="#")View Details
		script(src="http://dev.jspm.io/require.js")
		script
			require.config({
				paths: {
					"apps": "/kickstrap/apps"
				},
			});
			require([
				'jquery'
				, 'kickstrap/badge'
				, 'apps/tinygrowl/tinygrowl'
			],
				function($) {
					require(['apps/bootstrap/bootstrap'])
					$.growl({
						title: '<i class="icon-magic"></i> Welcome to Kickstrap'
						, text: 'Now start hacking!'
						, type: 'info'
					})
				}
			)