extends ../layout-sidebar

block vars
   -var selected = 'Home'
   -var ksdir = './kickstrap'
   -var sidebar = true

block breadcrumbs
   li.active Home

block sidebar
   section.row
      div.col.col-12
         h4 International 
         aside.media
            a.pull-left(href="#")
               img.media-object(style="width: 60px;height: 60px;", src="http://api.rethumb.com/v1/square/120/http://upload.wikimedia.org/wikipedia/commons/1/19/King_Amanullah_Khan_140x190.jpg")
            div.media-body
               h4.media-heading 
                  a(href="#") Tensions Mount in Foreign Country
               | Officials are concerned tensions in FC will lead to continued destruction of bordering... 
         br
         ul.list-unstyled
            li
               a(href="#") Prime Ministers to Negotiate Affairs 
            li
               a(href="#") Diplomats to Initiate Peace Talks 
            li
               a(href="#") Ambassador Indicted in Scandal 
            li
               a(href="#") Hostages Freed Unharmed 
         h4 Lifestyle 
         aside.media
            a.pull-left(href="#")
               img.media-object(style="width: 60px;height: 60px;", src="http://api.rethumb.com/v1/square/120/http://upload.wikimedia.org/wikipedia/commons/0/04/Lautoka_postcard.jpg")
            div.media-body
               h4.media-heading 
                  a(href="#") Best Tropical Getaways this Summer 
               | We'll show you some of the hottest locations around the world that won't break the bank... 
         br
         ul.list-unstyled
            li
               a(href="#") Top 5 Household Cleaning Tips 
            li
               a(href="#") DIY Repairs with Tools you Already Own
            li
               a(href="#") Hottest Books of the Season
            li
               a(href="#") Green Tea Health Rumors: Fact v. Fiction
         h4 Politics 
         aside.media
            a.pull-left(href="#")
               img.media-object(style="width: 60px;height: 60px;", src="http://api.rethumb.com/v1/square/120/http://upload.wikimedia.org/wikipedia/commons/7/78/Akira_Amari_and_Samuel_Bodman_20080607.jpg")
            div.media-body
               h4.media-heading 
                  a(href="#") Elections Heating up Pending Debate 
               | Official analysts are reporting a growing excitement over the upcoming... 
         br
         ul.list-unstyled
            li
               a(href="#") Gun Control: A Nation Divided 
            li
               a(href="#") Supreme Court Legislation Called "Historic" 
            li
               a(href="#") OP ED: Candidate Dead Wrong. 
            li
               a(href="#") Elections in Numbers 
         h4 Tech 
         aside.media
            a.pull-left(href="#")
               img.media-object(style="width: 60px; height: 60px;", src="http://api.rethumb.com/v1/square/120/http://www.public-domain-image.com/cache/objects-public-domain-images-pictures/electronics-devices-public-domain-images-pictures/iphone-pictures/iphone-pocket-pc_w725_h544.jpg")
            div.media-body
               h4.media-heading 
                  a(href="#") Top 5 Gadgets this Season 
               | Our top 5 pick of some of the coolest, and strangest gadgets to come out...
               br
         ul.list-unstyled
            li
               a(href="#") Benchmarks on the New PC/Mac Lineup
            li
               a(href="#") Hottest Cameras under $300 
            li
               a(href="#") Upgrading your Media Player 
            li
               a(href="#") Wearable Gadgets Gaining Traction 
         h4 Fashion 
         aside.media
            a.pull-left(href="#")
               img.media-object(style="width: 60px;height: 60px;", src="http://api.rethumb.com/v1/square/120/http://upload.wikimedia.org/wikipedia/commons/3/3e/Cliff_Joslyn.jpg")
            div.media-body
               h4.media-heading 
                  a(href="#") Dress Shirt Faux Pas 
               | It's hard to believe something so simple as an ordinary dress shirt could... 
         br
         ul.list-unstyled
            li
               a(href="#") Stylish Canvas Shoes under $40 
            li
               a(href="#") Vegan Belts and Shoes 
            li
               a(href="#") European-Inspired Sunglasses  
            li
               a(href="#") Get the Right Look for your Canine 
block main
   section.row
      div.col.col-12
         h1 Getting started
         p.lead Playing with and hacking the example templates.
         p
            small.text-muted
               em By Adam Kochanowicz, April 8, 2013.
         p Bootstrap takes care of the UI elements for your site, but what about the application design itself?
         p We've assembled pre-built, hackable templates for common application page types. To browse through them, simply click around and use this page like a regular website.
         p You'll notice we've included some advanced website features like responsive design and sidebar fixing out-of-box.
