extends ../layout-sidebar

block vars
  -var selected = 'Inbox'
  -var ksdir = '..'
  -var sidebar = true

block breadcrumbs
   li
      a(href="../") Home
   li.active Messages

block sidebar
   section.row
      .col.col-lg-12
         .panel
            a.btn.btn-primary(href="#compose", data-toggle="modal") 
               span.icon-envelope-alt
               |&nbsp;Compose New
            input(placeholder="Filter", type="text", data-bind="value: filterTerm, valueUpdate: 'afterkeydown'")
   table.table.table-hover
      tbody(data-bind="foreach: filteredItems")
         tr(data-bind="click: $parent.showThread", style="cursor: pointer")
            td
               .dismiss-sidebar.media(data-bind="click: function() { $parent.showThread, $parent.setIsSelected }", style="cursor: pointer") 
                  a.pull-left(href="#reply")
                     img.media-object(data-bind="attr:{ src: 'http://api.rethumb.com/v1/square/120/http://upload.wikimedia.org/wikipedia/commons/' + img }", style="width: 60px;height:60px;")
                  .media-body
                     h4.media-heading 
                        span.label.label-success(data-bind="visible: !read") NEW
                        &nbsp;
                        span(data-bind="text: name")
                     span(data-bind="text: subject") 

block main 
   .modal#compose
      .modal-dialog
         .modal-content
            .modal-header
               button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
               h4.modal-title 
                  span.icon-envelope-alt
                  |&nbsp;Compose
            .modal-body
               select(data-bind="foreach: allContacts")
                  option(data-bind="text: fName + ' ' + lName")
               input(type="text", placeholder="Subject")
               textarea(rows="4", placeholder="Body")
            .modal-footer
               a.btn(href="#") Cancel
               a.btn.btn-primary(href="#")
                  span.icon-reply
                  |&nbsp;Send
   section.row
      .col.col-lg-8.col-offset-2
         h3(data-bind="text: currentSubject") Please select a conversation from the sidebar. 
         .panel(data-bind="visible: !isEmpty()")
            a(href="#reply", data-bind="click: setIsSelected()") 
                  span.icon-reply
                  |&nbsp;Reply
         div(data-bind="foreach: currentThread")
            .panel
               .media
                  a.pull-left(href="#")
                     img.img-thumbnail(style="width: 60px; height:60px", data-bind="attr:{ src: 'http://api.rethumb.com/v1/square/120/http://upload.wikimedia.org/wikipedia/commons/' + img }")
                  .media-body
                     h4.media-heading(data-bind="text: name") 
                     span(data-bind="text: text") 
         div(data-bind="visible: !isEmpty()")
            hr
            h5 
               span.icon-reply#reply
               |&nbsp;Reply
            textarea.panel.panel-primary(data-bind="hasfocus: isSelected()", placeholder="Type reply and hit enter.")
   
block javascript
   script(src="//cdnjs.cloudflare.com/ajax/libs/knockout/2.2.1/knockout-min.js")
   script(src="assets/contacts.js")
   script(src="assets/messages.js")
   script(src="assets/message-list.js")
   script
      $('.dismiss-sidebar').click(function() {
         $('.container#page').toggleClass('toggle')
      });
