extends ../layout-sidebar

block vars
  -var selected = 'Inbox'
  -var ksdir = '..'
  -var sidebar = true

block breadcrumbs
   li
      a(href="../") Home
   li.active Messages

block sidebar
   .row
      .col-span-12
         .panel
            input(placeholder="Filter", type="text", data-bind="value: filterTerm, valueUpdate: 'afterkeydown'")
   table.table.table-hover
      tbody(data-bind="foreach: filteredItems")
         tr(data-bind="click: $parent.showThread", style="cursor: pointer")
            td
               .media(data-bind="click: function() { $parent.showThread, $parent.setIsSelected }", style="cursor: pointer") 
                  a.pull-left(href="#reply")
                     img.media-object(data-bind="attr:{ src: 'http://api.rethumb.com/v1/width/60/height/60/http://upload.wikimedia.org/wikipedia/commons/' + img }", style="width: 60px;height:60px;", src="http://api.rethumb.com/v1/width/120/height/120/http://upload.wikimedia.org/wikipedia/commons/8/86/Charlotte_Bronte_coloured_drawing.png")
                  .media-body
                     h4.media-heading 
                        span.label.label-success(data-bind="visible: !read") NEW
                        &nbsp;
                        span(data-bind="text: name")
                     span(data-bind="text: subject") 

block main 
   .row
      .col-span-8.col-offset-2
         h3(data-bind="text: currentSubject") Please select a conversation from the sidebar. 
         p.lead(data-bind="visible: !isEmpty()") 
            a(href="#reply", data-bind="click: setIsSelected()") 
               span.icon-reply
               |&nbsp;Reply
         div(data-bind="foreach: currentThread")
            .panel
               .media
                  a.pull-left(href="#")
                     img.img-thumbnail(style="width: 60px; height:60px", data-bind="attr:{ src: 'http://api.rethumb.com/v1/width/60/height/60/http://upload.wikimedia.org/wikipedia/commons/' + img }")
                  .media-body
                     h4.media-heading(data-bind="text: name") 
                     span(data-bind="text: text") 
         div(data-bind="visible: !isEmpty()")
            hr
            h5 
               span.icon-reply#reply
               |&nbsp;Reply
            textarea.panel.panel-primary(data-bind="hasfocus: isSelected()", placeholder="Type reply and hit enter.")
   
block javascript
   script(src="//cdnjs.cloudflare.com/ajax/libs/knockout/2.2.1/knockout-min.js")
   script(src="/kickstrap/_examples/assets/contacts.js")
   script(src="/kickstrap/_examples/assets/messages.js")
   script(src="/kickstrap/_examples/assets/message-list.js")
   script(src="/kickstrap/apps/bootstrap/bootstrap.js")
