extends ../layout

block link
  -var selected = 'Products'

block content
  div.row
    div.col-span-9
      h2 All Items
    div.col-span-3
      h2
        input(placeholder="Filter", type="text", data-bind="value: filterTerm, valueUpdate: 'afterkeydown'")
  table.table.table-hover
    thead
      tr
        th Image 
        th Product
        th Description
        th Price
    tbody(data-bind="foreach: filteredItems")
      tr
        td
          img(data-bind="attr:{ src: 'http://api.rethumb.com/v1/width/150/http://upload.wikimedia.org/wikipedia/commons/' + img }")
        td(data-bind="text: title") 
        td(data-bind="text: desc")
        td(data-bind="text: price")

  script(src="//cdnjs.cloudflare.com/ajax/libs/knockout/2.2.1/knockout-min.js")
  script(src="/kickstrap/_examples/assets/products.js")
  script(src="/kickstrap/_examples/assets/product-list.js")
