extends ../layout-sidebar

block vars   
  -var selected = 'Products'
  -var ksdir = '..'
  -var sidebar = true

block breadcrumbs
   li
      a(href="../../") Home
   li.active Products

block sidebar 
   .row
      .col-span-12
         h4 Filtering Options
         input(placeholder="Filter", type="text", data-bind="value: filterTerm, valueUpdate: 'afterkeydown'")

block main 
   .row
      .col-span-12
         h2 All Items
         table.table.table-hover
            thead
               tr
                  th Image 
                  th Product
                  th Description
                  th Price
            tbody(data-bind="foreach: filteredItems")
               tr
                  td
                     img(style="width: 60px;height:60px;", data-bind="attr:{ src: 'http://api.rethumb.com/v1/square/120/http://upload.wikimedia.org/wikipedia/commons/' + img }")
                  td(data-bind="text: title") 
                  td(data-bind="text: desc")
                  td(data-bind="text: '$' + price.toFixed(2)")

block javascript
  script(src="//cdnjs.cloudflare.com/ajax/libs/knockout/2.2.1/knockout-min.js")
  script(src="/kickstrap/_examples/assets/products.js")
  script(src="/kickstrap/_examples/assets/product-list.js")
