extends ../layout

block content
  h2 All Items
  table.table
    thead
      tr
        th Product
        th Description
        th Price
    tbody(data-bind="foreach: seats")
      tr
        td
          img(src="")
        td eBook
        td $0.00

  script(src="//cdnjs.cloudflare.com/ajax/libs/knockout/2.2.1/knockout-min.js")
  script(src="/kickstrap/_examples/assets/product-list.js")
