extends ../layout-sidebar

block vars   
  -var selected = 'Products'
  -var ksdir = '..'
  -var sidebar = true

block breadcrumbs
   li
      a(href="../../") Home
   li.active Products

block sidebar 
   section.row
      .col.col-lg-12
         h4 Filtering Options
         h5 Name
         input(placeholder="Filter", type="text", data-bind="value: filterTerm, valueUpdate: 'afterkeydown'")
         h5 Price
         input.col.col-lg-3(placeholder="$0", type="text")
         label to
         input.col.col-lg-3(placeholder="$100", type="text")
         h5 Categories
         .checkbox
            label
               input(type="checkbox")
               | &nbsp;Home
         .checkbox
            label
               input(type="checkbox")
               | &nbsp;Garden
         .checkbox
            label
               input(type="checkbox")
               | &nbsp;Tech
         .checkbox
            label
               input(type="checkbox")
               | &nbsp;Fashion
         .checkbox
            label
               input(type="checkbox")
               | &nbsp;Sports

block main 
   section.row
      .col.col-lg-12
         h2 All Items
         table.table.table-hover
            thead
               tr
                  th Image 
                  th Product
                  th Description
                  th Price
            tbody(data-bind="foreach: filteredItems")
               tr
                  td(style="width: 85px;")
                     a(href="product-single.html")
                        img(style="width: 60px;height:60px;", data-bind="attr:{ src: 'http://api.rethumb.com/v1/square/120/http://upload.wikimedia.org/wikipedia/commons/' + img }")
                  td
                     a(href="product-single.html", data-bind="text: title") 
                  td(data-bind="text: desc")
                  td(data-bind="text: '$' + price.toFixed(2)")

block javascript
  script(src="//cdnjs.cloudflare.com/ajax/libs/knockout/2.2.1/knockout-min.js")
  script(src="/kickstrap/_examples/assets/products.js")
  script(src="/kickstrap/_examples/assets/product-list.js")
