extends ../layout-sidebar

block vars
  -var selected = 'Profile'
  -var ksdir = '..'
  -var sidebar = true

block breadcrumbs
   li
      a(href="../") Home
   li.active Login

block sidebar

block main