<!DOCTYPE html>
<html>
<head>
  <title>Kickstrap 2.0</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet/less" type="text/css" href="/kickstrap/_core/kickstrap.less">
  <script>var less = { env: 'development' }</script>
  <script src="/kickstrap/_core/js/less-1.4.0.min.js"></script>
  <link rel="stylesheet" href="/kickstrap/_examples/assets/example.css" />
</head>
<body>

    <div class="sf-wrapper">
      <div class="container">

        <div class="masthead">
          <h3 class="muted">Kickstrap</h3>
          <div class="navbar">
            <div class="navbar-inner">
              <div class="container">
                <ul class="nav">
                  <li class=""><a href="/">Home</a></li>
                  <li><a href="/kickstrap/_examples/product-list.html">Products</a></li>
                  <li><a href="http://twitter.github.com/bootstrap/examples/justified-nav.html#">Services</a></li>
                  <li><a href="http://twitter.github.com/bootstrap/examples/justified-nav.html#">Downloads</a></li>
                  <li><a href="http://twitter.github.com/bootstrap/examples/justified-nav.html#">About</a></li>
                  <li><a href="http://twitter.github.com/bootstrap/examples/justified-nav.html#">Contact</a></li>
                </ul>
              </div>
            </div>
          </div><!-- /.navbar -->
        </div>

  {{>body}}

         <hr>
        <div class="push"></div>
      </div>
      <div class="container">
        <div class="footer">
          <p>© Company 2013</p>
        </div>
      </div>

    </div> <!-- /container -->
  

</body>
</html>
