article
	h1 Bootstrap 3
	p.lead The most popular CSS framework, now extended.
	p Bootstrap 3 is a mobile-first CSS and JS framework making UI creation a snap on any screen.
	p
		em
			a(href="http://getbootstrap.com/") Bootstrap Homepage
	
article
	h1 JSPM
	p.lead An app store for your website
	p JSPM is a browser module loader that will load any module format (ES6 / AMD / CJS) locally or even directly from NPM and Github utilising SPDY push.
	p
		em
			a(href="http://jspm.io/") JSPM Homepage

article
	h1 Roots.cx
	p.lead Powerful compilation, live testing, and deployment
	p No more third-party less compilers or requirement to deploy your own server. Kickstrap is now a custom Roots template. This means it utilizes Roots" native CoffeeScript, Jade, and Stylus compilation, Heroku deployment, watch mode, plugins, and live reloading.
	p
		em
			a(href="http://roots.cx/") Roots Homepage

article
	h1 Angular.js
	p.lead Google's front-end MVC for blindingly fast web apps
	p HTML is great for declaring static documents, but it falters when we try to use it for declaring dynamic views in web-applications. AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop....
	p
		em
			a(href="http://angularjs.org/") Angular Homepage

article
	h1 Included templates
	p.lead Hack away at our included example pages
	p In version 1 of Kickstrap, I realized users much prefered pre-built templates over blank slates. I"ve included several simple templates for common application page types--already wired up with Angular.js. Check them out in the navbar at the top.
