h1.text-center Bootstrap Extended.
p.text-center
	a.btn.btn-primary.btn-lg(href="", style="margin-right: 5px") Download Kickstrap
	a.btn.btn-default.btn-lg(href="") Demo

article
	.page-header
		h1 As seen on:
	img.col.col-sm-6.col-md-3(src="./img/mashable.png")
	img.col.col-sm-6.col-md-3(src="./img/hn.png")
	img.col.col-sm-6.col-md-3(src="./img/dzone.png")
	img.col.col-sm-6.col-md-3(src="./img/t3n.png")
	.clearfix

article
	.page-header
		h1 The most trusted fork of Bootstrap
	p.lead Modern, Scalable, Production Ready
	p In this second version, we've reworked Kickstrap from the ground up, empowering it with the best in pre-processing technologies, package-dependency management, and a fast, front-end MVC.
	p That's why Kickstrap is already trusted by these and other brands.
	img.col.col-sm-4(src="./img/vegankit.png")
	img.col.col-sm-4(src="./img/abergs.png")
	img.col.col-sm-4(src="./img/ipreo.png")
	img.col.col-sm-4(src="./img/peugeot.png")
	img.col.col-sm-4(src="./img/skuvault.png")
	img.col.col-sm-4(src="./img/fwdslash.png")
	.clearfix

article
	.page-header
		h1 Included themes
	p.lead Activate themes on-the-fly
	p Click on a theme to preview.
	link(rel="stylesheet", href="{{themePreviewUrl}}")
	.col.col-sm-4(ng-repeat="theme in themes")
		img.thumbnail(src="./img/{{theme}}.png", ng-click="setTheme(theme)")
	.clearfix

article
	.page-header
		h1 Bootstrap 3
	p.lead The most popular CSS framework, now extended.
	p Bootstrap 3 is a mobile-first CSS and JS framework making UI creation a snap on any screen.
	p
		em
			a(href="http://getbootstrap.com/") Bootstrap Homepage
	
article
	.page-header
		h1 JSPM
	p.lead An app store for your website
	p JSPM is a browser module loader that will load any module format (ES6 / AMD / CJS) locally or even directly from NPM and Github utilising SPDY push.
	p
		em
			a(href="http://jspm.io/") JSPM Homepage

article
	.page-header
		h1 Roots.cx
	p.lead Powerful compilation, live testing, and deployment
	p No more third-party less compilers or requirement to deploy your own server. Kickstrap is now a custom Roots template. This means it utilizes Roots" native CoffeeScript, Jade, and Stylus compilation, Heroku deployment, watch mode, plugins, and live reloading.
	p
		em
			a(href="http://roots.cx/") Roots Homepage

article
	.page-header
		h1 Angular.js
	p.lead Google's front-end MVC for blindingly fast web apps
	p HTML is great for declaring static documents, but it falters when we try to use it for declaring dynamic views in web-applications. AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop....
	p
		em
			a(href="http://angularjs.org/") Angular Homepage

article
	.page-header
		h1 Included templates
	p.lead Hack away at our included example pages
	p In version 1 of Kickstrap, I realized users much prefered pre-built templates over blank slates. I"ve included several simple templates for common application page types--already wired up with Angular.js. Check them out in the navbar at the top.
