@import "../themes/kickstrap.css"

$brown = rgba(242, 239, 235, 0.9)

$footerHeight = 50px
body
	padding-top: 50px // For fixed navbar
	.ks-beforeload
		display: block
		&_opacity
			visibility: visible
	.ks-afterload
		display: none
		&_opacity
			visibility: hidden
	&.loaded
		.ks-beforeload
			display: none
			&_opacity
				visibility: hidden
		.ks-afterload
			display: block
			&_opacity
				visibility: visible

// Sticky Footer

html
, body
	height: 100%

#sf-wrap
	min-height: 100%
	height: auto !important
	height: 100%
	margin 0 auto (-1 * $footerHeight)
	padding: 0 0 $footerHeight

#sf-footer
	height: $footerHeight
	margin-bottom: 0

#sf-push
	padding-top: $footerHeight
	display: block

// NG-Progress

#ngProgress
	margin: 0
	padding: 0
	z-index: 99998
	background-color: green
	color: green
	box-shadow: 0 0 10px 0
	height: 2px
	opacity: 0
	transition(all 0.5s ease-in-out)

#ngProgress-container
	position: fixed
	margin: 0
	padding: 0
	top: 0
	left: 0
	right: 0
	z-index: 99999

// Readability

p, label, tr, td, div
	&.readable, &.readable p, label, tr, td
		font-size: 15px
		line-height: 25px