nav.navbar
	.container
		button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-responsive-collapse")
			span.icon-bar
			span.icon-bar
			span.icon-bar
		a.navbar-brand Kickstrap
		.nav-collapse.collapse.navbar-responsive-collapse
			ul.nav.navbar-nav
				li.active
					a(href="/") Home
				li
					a(href="#") Contacts		
				li
					a(href="#") Products
			form.navbar-form.pull-right
				input.form-control(type="search", placeholder="Search")			
			ul.pull-right.nav.navbar-nav
				li.dropdown
					a.dropdown-toggle(data-toggle="dropdown", href="#")
						| John Smith
						span.caret
					ul.dropdown-menu 
						li
							a(href="#") Cart
