section(ng-controller='k$.demo')
	h1 Kickstrap 2.0
	h2 New in 2.0
	hr
	input(type='text', ng-model='featureInput')
	article(ng-repeat='feature in demo.features | filter: featureInput')
		h3 {{feature.name}}
		p {{feature.description}}