!!!
html(lang='en', ng-app='kickstrap')
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='The Elegant Frontend Framework')
    meta(name='author', content= 'Adam Kochanowicz')
    script(src='http://jspm.io/loader.js')
    script(src='js/settings.js')
    title Kickstrap 2.0
  body
    != yield

  :coffeescript
    k$.ready ->