<div class="container">
	<section class="row">
	  <article class="span12">

			<p>Copy and paste this script tag into any html page:</p>
			<code>&lt;script src=&quot;http://dev.jspm.co/require.js&quot;&gt;&lt;/script&gt;</code>

			<p>For a widget demo, enter (in the JavaScript console):</p>
			<code>require(['gorilla/demo'])</code>

			<p>It is slow on the first load, but caching allows it to be quick thereafter making this the "no-install" development process (try refreshing after the first load).</p>

			<p>To load local files use:</p>
			<code>require(['app/some/local/path'])</code>

			<p>To publish a new library, create an account:</p>
			<code>jscom.register()</code>

			<p>Then publish a library:</p>
			<code>jscom.publish('libname', 'github/path', '0.0.1')</code>

			<p>When complete, simply use:</p>
			<code>require(['name'])</code>

			<p>to load the library. It should be an AMD module, with the "main" defined in the component.json file or at "name.js".</p>

			<p>To login again after a page reload, use:</p>
			<code>jscom.login()</code>

		</article>
  </section>
</div>