<!DOCTYPE html>
<html>
<head>
  <title>Kickstrap 2.0</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet/less" type="text/css" href="kickstrap/_core/kickstrap.less">
  <script data-main="kickstrap/_core/js/main" src="kickstrap/_core/js/require.2.1.4.js"></script>
  <script>

  </script>
  <script src="Kickstrap/_core/js/less-1.4.0.min.js"></script>
</head>
<body>

  {{>body}}

</body>
</html>
