include _header

.container(ng-controller='k$.productsCtrl')
	section.row
		.col.col-sm-12
			h1 Sizzlin' Summer Deals
		.col.col-sm-12
			img.thumbnail(src="http://placehold.it/1200x500")
	section.row
		.col.col-sm-12
			h1 On Sale Now
			p.lead Get them before they're gone
	section.row
		div.col.col-sm-3
			article.panel.panel-default
				.panel-heading 
					input.form-control(type='text', ng-model='productInput', placeholder='Search products')
				.list-group
					a.list-group-item(
						ng-href='{{"#"}}{{slug(product.name)}}', ng-repeat='product in products | filter: productInput'
						ng-click="setSelectedProduct(product)"
						ng-class="{'active': selectedProduct.id == product.id }"
					) {{product.name}}

		div.col.col-sm-9
			article.panel.panel-default(ng-repeat='product in products | filter: productInput')
				.panel-body
					p.lead(ng-id='slug(product.name)') {{product.name}} - {{product.summary}}
					p {{product.description}}
				.panel-footer(ng-show="product.learnMore") 
					small
						em.text-muted Learn more at 
							a(ng-href='{{product.learnMore.link}}') {{product.learnMore.title}}

script(src='js/demo/products.js')
script(src='js/demo/product-list.js')