extends layout

block variables
	- var active = 'home'

block content
	include _header

	.jumbotron
		iframe.img-responsive.center-block(src="//player.vimeo.com/video/79834881" style="width: 1200px;min-height:50%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)

	.container
		section.row
			.col-xs-12
				p.lead.text-center Bootstrap for Serious Web Applications
				p.text-center
					a.btn.btn-primary.btn-lg(href="http://j.mp/1aEORWX", style="margin-right: 5px") Get the Beta
					a.btn.btn-default.btn-lg(href="", onclick="nodemo()") Demo

		section.row(ng-controller='HomeCtrl', ng-init="setSelectedSection(sections[0])")
			.col-lg-8.col-lg-offset-2
				.row
					.col-xs-12
						.page-header
							h1 Why You'll Love It
					.col-md-6
						p.lead Made with the best tech on Earth.
						p Kickstrap seamlessly combines Bootstrap with top-tier web technologies. It's so advanced, it can run an authenticated, database-driven web app 
							strong without a native backend.
						p This is accomplished by the coupling of Google's Angular.js and Firebase.io, a websocket Backend as a Service (Baas). This is ready to go out-of-the-box, but optional to use.
					.col-md-6
						.col-md-6
							img.img-responsive(src="./img/mashable.png")
						.col-md-6
							img.img-responsive(src="./img/hn.png")
						.col-md-6
							img.img-responsive(src="./img/dzone.png")
						.col-md-6
							img.img-responsive(src="./img/t3n.png")
						br
						p
							small As seen on these news websites
				.row
					.col-xs-12
						.page-header
							h1 The Most Trusted Fork of Bootstrap
					.col-md-6
						p.lead Modern, Scalable, Production Ready.
						p In this second version, we've reworked Kickstrap from the ground up, empowering it with the best in pre-processing technologies (Jade, CoffeeScript, Stylus), package-dependency management (JSPM.io), and a fast, front-end MVC (Angular.js).
					.col-md-6
						.col-md-6
							img.img-responsive(src="./img/vegankit.png")
						.col-md-6
							img.img-responsive(src="./img/abergs.png")
						.col-md-6
							img.img-responsive(src="./img/ipreo.png")
						.col-md-6
							img.img-responsive(src="./img/peugeot.png")
						.col-md-6
							img.img-responsive(src="./img/skuvault.png")
						.col-md-6
							img.img-responsive(src="./img/fwdslash.png")
						br
						p
							small Trusted by these brands

				.row
					.col-xs-12
						.page-header
							h1 Backend as a Service
							p.lead Out-of-box functionality with Firebase.com
					.col-sm-7
						p Kickstrap works with Firebase's cloud-based backend from square one. Via an agreement with Firebase, we're able to set up all of our users with a special, unlimited usage, read-only sample database out-of-the-box. You can then copy this to your own Firebase account and set up your own custom read/write and authentication permissions.
					.col-sm-5
						img(src="https://www.firebase.com/images/firebase_arrow_active.png")


				.row
					.col-xs-12
						.page-header
							h1 Included Themes
							p.lead Activate themes on-the-fly
							p Click on a theme to preview.
				.row.ks-afterload
					.col-sm-4(sly-repeat="theme in themes")
						h4 {{theme.title}}
						img.thumbnail(src="./img/{{theme.name}}.png", ng-click="setTheme(theme.name)")
					.col-xs-12
						p
							em * Courtesy of Thomas Park and 
								a(href="http://bootswatch.com/") Bootswatch.com

				.row
					.col-xs-12
						.page-header
							h1 Your Website has an App Store
					.col-md-6#pong-desc
						p.lead Keeping track of and staying up to date on your static resources (JS, CSS, fonts, images...) and their dependencies is painful.
						p Kickstrap's partnership with JSPM.io provides a strong front-end package dependency manager built on Require.js.
						p Kickstrap apps are unit JSPM bundles of static resources that can be run at any time in the web app's lifetime. 
						p JSPM also allows for loading resources from npm, CDNJS, and GitHub via its CDN registry.
					.col-md-6
						#pong
							.well(style="height: 300px") 
								p
									em Waiting for JSPM package
						p Try it here:
						p
							pre &lt;script type='text/javascript'&gt;
								|   jspm.import('ks:pong');
								| &lt;/script&gt;
						p
							a.btn.btn-primary(onclick="jspm.import('ks:pong')") Run Code