extends layout

block variables
	- var active = "settings"

block title 
	| - Settings

block content

	include _header

	.container
		.row
			.col-lg-12
				h1 Administrator Settings
				p.lead Take caution to have appropriate authorizations on your Firebase account.
				ul.nav.nav-tabs
					li.active
						a(href="#products" data-toggle="tab") Products
					li
						a(href="#contacts" data-toggle="tab") Contacts
					li
						a(href="#messages" data-toggle="tab") Messages 
				.tab-content#top
					.tab-pane.active#products(ng-controller="ProductsCtrl")
						include admin/_products
					.tab-pane#contacts(ng-controller="MessagesCtrl")
						include admin/_contacts
					.tab-pane#messages(ng-controller="MessagesCtrl")
						include admin/_messages
				p#bottom
