//- Written in Jade
//- https://github.com/visionmedia/jade

block link
  -var selected = 'Home' //default

!!!
html
  -var menu = { 'Home': '/.', 'Blog': '/kickstrap/_examples/blog-all.html', 'Contacts': '/kickstrap/_examples/contacts.html', 'Products': '/kickstrap/_examples/product-list.html', 'Shopping Cart': '/kickstrap/_examples/cart.html' };

  head
    base(href="/")
    title Kickstrap 2.0.0 Alpha
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet/less", type="text/css", href="/kickstrap/_core/kickstrap.less")
    script
      // var less = { env: 'development' }
      // Uncomment the above line to prevent caching.
    script(src="/kickstrap/_core/js/less-1.4.0.min.js")
    link(rel="stylesheet", href="/kickstrap/_examples/assets/example.css")
  body
    div.sf-wrapper
      div.container
        div.page-header.main
          h1
            a.pull-left(href="#") Kickstrap
            h4.pull-right
              ul.list-unstyled.list-inline
                li
                  img(src="http://api.rethumb.com/v1/width/25/https://graph.facebook.com/63203497/picture")
                li
                  a.icon-envelope-alt 
                  span.badge 2
                li
                  a.icon-user
            div.clearfix
        div.navbar.navbar-inverse
          a.navbar-toggle(data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          div.nav-collapse.collapse
            ul.nav
              each val, key in menu
                if selected === key
                  li.active
                    a(href=val)= key
                else
                  li
                    a(href=val)= key
            form.navbar-form.pull-right
              input(type="text", placeholder="Search")
            ul.pull-right.nav
              li
                a(href="/kickstrap/_examples/login.html") 
                  i.icon-key
                  |&nbsp;Login

        block content

        hr
        div.push
    div.footer
      div.container
        p © Company 2013
