// Written in Jade
// https://github.com/visionmedia/jade

block link
  -var selected = 'Home' //default

!!!
html
  -var menu = { 'Home': '/.', 'Products': '/kickstrap/_examples/product-list.html', 'Shopping Cart': '/kickstrap/_examples/cart.html' };

  head
    base(href="/")
    title Kickstrap 2.0.0 Alpha
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet/less", type="text/css", href="/kickstrap/_core/kickstrap.less")
    script
      var less = { env: 'development' }
    script(src="/kickstrap/_core/js/less-1.4.0.min.js")
    link(rel="stylesheet", href="/kickstrap/_examples/assets/example.css")
  body
    div.sf-wrapper
      div.container
        div.masthead
          h4.muted Kickstrap
        div.navbar
          div.navbar-inner
            div.container
              ul.nav
                each val, key in menu
                  if selected === key
                    li.active
                      a(href=val)= key
                  else
                    li
                      a(href=val)= key

        block content

        hr
        div.push
      div.container
        div.footer
          p © Company 2013
